@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

a:hover {
	color: $hover-color;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    &__inner {
        display: flex;
        align-items: center;
        margin-right: 30px;
        height: 40px;
    }
    &__item {
        font-size: 13px;
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    span {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body {
        background-color: green;
    }
}
